<h1>
<form action="/pirates" method="POST">
  <input type="text" name="pirate[name]" value="Name"><br>
  <input type="text" name="pirate[weight]" value="Weight"><br>
  <input type="text" name="pirate[height]" value="Height"><br>
  <input type="text" name="pirate[ships][0][name]" value="Ship Name"><br>
  <input type="text" name="pirate[ships][0][type]" value="Ship Type"><br>
  <input type="text" name="pirate[ships][0][booty]" value="Ship Booty"><br>
  <input type="text" name="pirate[ships][1][name]" value="2nd Ship Name"><br>
  <input type="text" name="pirate[ships][1][type]" value="2nd Ship Type"><br>
  <input type="text" name="pirate[ships][1][booty]" value="2nd Ship Booty"><br>
  <input type="submit" value="Submit">
</form>
</h1>
